/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
    color: brown;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.newspaper {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

td ol.newspaper {
    border: 1px solid #69c;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 80px;
}

ol.newspaper {
  border: 1px solid #69c;
  font-size: 12px;
  margin: 20px;
  text-align: left;
  width: 90%;
}

ol.newspaper li {
  border-top: 1px dashed #fff;
  color: #669;
  padding: 5px;
  vertical-align: top;
}

ul.singleline li {
    padding-right: 10px;
    vertical-align: top;
    display: inline-block;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

#ships-selector label {
    padding-left:10px;
    width:80px;
    height:40px;
    padding-right:10px;
    display: inline-block;
}

#ships-selector label.txinput {
    padding-left:10px;
    width:40px;
    padding-right:10px;
    display: inline-block;
}

#ships-selector input[type=text] {
    width:40px;
}

#ships-selector div.boxed {
    width:60px;
    vertical-align: middle;
    display: inline-block;
}

#ships-selector label {
    height:40px;
    display: inline-block;
    padding-left: 15px;
    text-indent: 2px;
}
#ships-selector input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    /*top: -1px;*/
    *overflow: hidden;
}

/* Tab */
#info{
    border: 1px solid #999;
    padding: 0 10px;
}

#info-nav {
    margin: 0;
    padding: 3px 0;
    width: 100%;
    list-style: none;
}

#info-nav li {
    display: inline;
    background: #ccc;
    border: 1px solid #888;
    border-bottom-style: none;
    margin: 0 0 0 0.6em;
    padding: 3px 0.5em 3px 0.5em;
}

#info-nav li a:hover {
    color: #d15600;
}

#info-nav li.current {
    background: #fff;
    border-bottom: 3px solid #fff;
}

.healthbar {
    background-color: black;
    padding: 1px;
    width: 40px;
}

.healthbar > div {
    height: 10px;
    font-size:10px;
    font-weight: bold;
    color:white;
}

/*#resources-list {*/
    /*position: fixed;*/
    /*display: block;*/
    /*top: 0%;*/
/*}*/

.exoptions {
    position: fixed;
    width:100%;
    bottom: 0%;
    left:0%;
    height:30px;
    background: aqua;
}

.exoptions li.opspanel {
    background:darkblue;
    font-weight: bold;
    display: inline-block;
    width: 20%;
    border: 1px solid #888;
    border-bottom: 0;
    margin-right: 2px;
    padding-bottom: 5px;
    text-align: center;
}

.exoptions li.opspanel.current{
    background: #fff;
}

.exoptions ul{
    margin-top: 6px;
}

.exoptionspanel {
    padding:10px;
    border: 1px solid slateblue;
    position: fixed;
    bottom: 30px;
    background:lightblue;
}

.deckships th,td{
    width: 70px;
    text-align: center;
}